
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    background: url("image/loginbg.png");

}




div.container {
    margin: 4em auto 2em auto;
    padding: 1em;
    overflow: hidden;
    
   margin-top: 25vh;
}




div.container label,
div.container input,
div.container button {
    display: block;
    width: 80%;
    font-size: 1em;
}

div.container label {
    margin: 0.5em auto 0.5em auto;
}

div.container input {
    padding: 0.8em 0 0.8em 0.8em;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin: 0.5em auto 0.5em auto;
}

div.container button {
    outline: none;
    margin: 2em auto 1em auto;
    padding: 1.2em;
    cursor: pointer;
    letter-spacing: 0.2em;
    
    background-color: rgba(0,0,0,0.04);
    color: black;
    border: none;
    border-radius: 25px;
}

div.container button:hover {
   
    
    background-color: black;
    color: white;
    transition:  0.09s ;
}


.tab {
    
    display: flex;
    width: 100%;
}

.tablinks {
    padding: 1em 0 1em 0;
    width: 50%;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.2s linear;
    background-color: rgba(0,0,0,.04);
}

.active {
    animation-name: activetab;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-color: black;
    color: white;
}

@keyframes activetab {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.tabcontent {
    width: 100%;
    margin: 0 auto 0 auto;
    display: none;
    padding: 2em 0 2em 0;
    overflow: hidden;
}



@media only screen and (min-width: 1224px) {
    div.container {
        overflow: hidden;
        width: 400px;
    }
}

@media only screen and (min-width: 1824px) {
    div.container {
        width: 400px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    div.container {
        width: 80%;
    }
}